body {
    background: 
        blue;
}


.mainContainer {
    height: 
        400px;
    background: 
/*        red;*/
}


.gameDiv {
    width: 
        455px;
    height: 
        455px;
    background: 
        yellow;
    margin: 
        0 auto;
        
}

.row1 {
    float: left;
}


.row2 {
    float: left;
}

.row3 {
/*    background: red;*/
    float: left;
    
}

.tile {
    width: 149px;
    height: 
        149px;
/*    float: left;*/
    border: 1px solid #000;
    
}


.tile2 {
    width: 149px;
    height: 
        149px;
/*    float: left;*/
    border: 1px solid #000;
    
}

.tile3 {
    width: 149px;
    height: 
        149px;
/*    float: left;*/
    border: 1px solid #000;
    
}



